body {
  background-color: #b0dfe8;
}

p, li {
  font-size: 16px;
}

.list-group-item {
  font-size: 16px;
}

.div {
  background-color: #d7eff4;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;
  padding-bottom: 10px;
  margin: 5px;
}

.div-pad {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.aLogo {
  background-color: #328ea3;
  width: 87px;
  height: 30px;
  color: white;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  padding-left: 8px;
  padding-top: 5px;
  margin-top: -4px;
  border-radius: 5px;
}

.logo {
  background-color: #328ea3;
  color: white;
  text-align: center;
  font-family: Arial;
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  width: 207px;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.navbar {
  margin-bottom: 0px;
}

.nav {
  cursor: pointer;
}

.footer {
  background-color: #d7eff4 !important;
}

li {
  list-style-type: none;
}

.link-list {
  padding: 15px;
  margin-bottom: 0px;
}

.big-gap {
  margin-top: 25px;
  margin-bottom: 25px;
}