<!--*****************************************************************************************************************
     Copyright © 2014 - 2016 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<div class="container">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 jumbotron center">
            <div>
                <h1>Ecom</h1>
                <h2>Save time by ordering ahead</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            <div class="list-group">
                <a class="list-group-item main" href="#/shop"><h4><span class="icon glyphicon glyphicon-user"></span>Customers Shop Here</h4></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            <div class="list-group">
                <a class="list-group-item main" href="#/sell"><h4><span class="icon glyphicon glyphicon-home"></span>Merchants Sell Here</h4></a>
            </div>
        </div>
    </div>
</div>
