<ul class="nav navbar-nav">
  <!--<li class="dropdown">
      <a class="dropdown-toggle navbar-brand" data-toggle="dropdown"><div class="aLogo img-rounded">Lahuna</div></a>
      <ul class="dropdown-menu">
        <li><a href="/#/">Home</a></li>
        <li><a href="/#/about">About</a></li>
        <li><a href="/#/tech">Tech</a></li>
        <li><a href="/#/consult">Consult</a></li>
      </ul>
  </li>-->
  <!--<li class="dropdown">
      <a class="dropdown-toggle navbar-brand aTitle" data-toggle="dropdown">Pay</a>
      <ul class="dropdown-menu">
        <li><a href="/#/">Home</a></li>
        <li><a href="/#/about">About</a></li>
        <li><a href="/#/tech">Tech</a></li>
        <li><a href="/#/consult">Consult</a></li>
      </ul>
  </li>-->
</ul>
