<!--*****************************************************************************************************************
     Copyright 2014-2019 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<div class="container">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <form id="checkout" method="post" action="/checkout">
          <div id="payment-form"></div>
          <input class="btn btn-default" type="submit" value="Pay $10">
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <button class="btn btn-default" ng-click="Onboard()">Onboard</button>
      </div>
    </div>
</div>
