<!--*****************************************************************************************************************
     Copyright 2014-2019 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-4">
          <span>
            <a class="btn btn-default stack-gap" href="#/store/{{store._id}}" ng-show="store._id"><span class="glyphicon glyphicon-chevron-left"></span> Store</a>
            <a class="btn btn-default stack-gap" href="#/stores" ng-show="!store._id"><span class="glyphicon glyphicon-chevron-left"></span> Stores</a>
          </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-4">
            <h3>{{store.title}}</h3>
        </div>
    </div>
    <div class="row" ng-show="store.title">
        <div class="col-md-offset-3 col-md-4">
          <h3>Shopping Cart</h3>
        </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-4">
          <alert class="alert-height" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
      </div>
    </div>
    <div class="row" ng-show="cart_items.list.length > 0">
      <div class="col-md-offset-3 col-md-6 cart">
        <table class="table">
          <thead>
            <tr>
              <th>Item</th>
              <th>Qty</th>
              <th>Price</th>
              <th>Total</th>
            </tr>
          </tbody>
          <tbody>
            <tr ng-repeat="item in cart_items.list">
              <td>
                <a href="#/store/{{cart.store_id}}/product/{{item.product_id}}">
                    <div><img ng-src="{{item.thumbnail}}" class="img-responsive" /></div>
                    <div>{{item.product.title}}</div>
                </a>
              </td>
              <td>
                <input ng-model="item.quantity" ng-change="QuantityChanged(item, $index)" class="form-control qty" type="number" step="1">
              </td>
              <td>
                <p>{{item.product.price | currency}}</p>
              </td>
              <td>
                <p>{{(item.quantity * item.product.price) | currency}}</p>
              </td>
              <td>
                <button class="btn btn-default btnNoBorder" ng-click="Delete(item, $index)" title="Remove from Cart">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-default btn-save" type="button" ng-click="Save()">Save</button>
      </div>
    </div>
    <div class="row" ng-show="cart_items.list.length > 0">
        <div class="col-md-offset-3 col-sm-3 col-md-3 col-lg-3 total">
          <table class="totaltable">
            <tbody>
              <tr>
                <td>
                  Subtotal:
                </td>
                <td class="rt">
                  {{subtotal | currency}}
                </td>
              </tr>
              <tr>
                <td>
                  Tax:
                </td>
                <td class="rt">
                  {{tax | currency}}
                </td>
              </tr>
              <tr>
                <td>
                  ----------------
                </td>
                <td>
                  ----------------
                </td>
              </tr>
              <tr class="grandtotal">
                <td>
                  Total:
                </td>
                <td class="rt">
                  {{total | currency}}
                </td>
              </tr>
              <tr>
                <td>
                  <button class="btn btn-primary btn-margin-top"
                          stripe-checkout="doCheckout"
                          data-key="pk_test_eN8vY0P228fXRicRwVXaEE3L"
                          data-amount="{{amount}}"
                          data-name="Lahuna"
                          data-description="{{description}}"
                          data-image="/images/lahuna_logo_256x256x32.png"
                          data-currency="{{currency}}"
                          data-locale="auto"
                          data-zip-code="true">
                    Checkout
                  </button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
    </div>
</div>
