<!--*****************************************************************************************************************
     Copyright © 2014 - 2015 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->
<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-3">
            <h4>Album Types</h4>
            <div class="list-group">
                <a ng-repeat="album in albums.list" class="list-group-item" href={{album.Url}}>
                    <h4>{{album.AlbumType}}</h4>
                    <p>{{album.AlbumType | unit}}: {{album.NumAlbums | number}}</p>
                    <p>Photos: {{album.NumPhotos | number}}</p>
                </a>
            </div>
        </div>
    </div>
</div>