<!--*****************************************************************************************************************
     Copyright © 2014 - 2015 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->
<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-3">
            <h4>{{year}}</h4>
            <p>Months: {{albums.list.length | number}}</p>
            <table class="table table-border">
                <thead>
                    <tr>
                        <th>Month</th>
                        <th>Days</th>
                        <th>Photos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="album in albums.list">
                        <td>{{album.Title}}</td>
                        <td><a href="#/albums/{{type}}/{{year}}/{{album.Title}}">{{album.NumAlbums | number}}</a></td>
                        <td>{{album.NumPhotos | number}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>