<!--*****************************************************************************************************************
     Copyright 2014 - 2017 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

  <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-4">
            <a ng-click="SignIn()" ng-show="showSignIn" class="list-group-item signInDiv">
              <span class="glyphicon glyphicon-log-in signInBtn"></span>
              <span>Sign in here to view photos</span>
            </a>
        </div>
        <div class="col-md-12">
            <img src="{{photos[index].thumbnail | enlarge}}" ng-hide="videoUrl" class="img-responsive center-block imgMaxHeight">
            <div class="embed-responsive embed-responsive-16by9" ng-show="videoUrl">
                <video controls autoplay class="embed-responsive-item" ng-src="{{videoUrl ? videoUrl : ' '}}" type="video/mp4"></video>
            </div>
        </div>
      </div>
  </div>

  <footer class="footer-photo" ng-show="photos">
      <div class="container">
        <div class="text-center">
            <div class="col-md-12">
              <span ng-click="Previous()" class="glyphicon glyphicon-chevron-left viewer-icon" title="Previous"></span>
              <span ng-click="Delete()" class="glyphicon glyphicon-trash viewer-icon" title="Delete"></span>
              <span ng-click="Rotate(-90)" class="glyphicon glyphicon-share-alt viewer-icon gly-flip-horizontal" title="Rotate Left"></span>
              <span ng-click="Rotate(90)" class="glyphicon glyphicon-share-alt viewer-icon" title="Rotate Right"></span>
              <span ng-click="open('sm')" class="glyphicon glyphicon-tasks viewer-icon" title="More"></span>
              <span ng-click="Next()" class="glyphicon glyphicon-chevron-right viewer-icon" title="Next"></span>
            </div>
        </div>
      </div>
  </footer>
