<!--*****************************************************************************************************************
     Copyright 2014 - 2017 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<title>Lahuna | Leveraging Web Services | A Richer Internet Experience</title>
<meta name="description" content="We leverage API interfaces to allow users to manage, organize,
        and utilize their web services and data in a more powerful and meaningful way." />

<div class="container">
  <div class="row">
    <div class="col-md-3 div-pad">
      <div class="div">
        <h3>Welcome to Lahuna</h3>
        <p>
            <strong>Lahuna</strong> is built with the latest HTML5
            web standards and technology. HTML5 bridges the gap
            between web apps and platform-specific native apps,
            creating a more standardized approach to writing software.
        </p>
      </div>
    </div>
    <div class="col-md-3 div-pad">
      <div class="div">
        <h3>Cross-Platform Apps</h3>
        <p>
            At Lahuna, our core belief is that one version of software
            should run on any type of web-enabled device without the need
            to rewrite code for specific operating systems and hardware.
        </p>
      </div>
    </div>
    <div class="col-md-3 div-pad">
      <div class="div">
        <h3>Behind the Scenes</h3>
        <p>
            We write our web apps using frameworks like Angular
            and Bootstrap so we can code faster and more
            efficiently. Both our front-end and back-end are
            written in Javascript.
        </p>
      </div>
    </div>
    <div class="col-md-3 div-pad">
      <div class="div">
        <h3>What's Coming Next</h3>
        <p>
            We will be releasing more web apps that will run on any
            device with a browser. Right now we are working on an app
            called Blitz that will allow you
            to post to all your favorite social media sites at once.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 div-pad">
      <div class="div">
        <h3>Who We Are</h3>
        <h4>Lahuna's Mission</h4>
        <p>
            We leverage social media APIs (Application Programming Interface) to allow
            users to manage, organize, and utilize their services and data
            in a more powerful and meaningful way.
        </p>
      </div>
    </div>
    <div class="col-md-4 div-pad">
      <div class="div">
        <h3>What We Do</h3>
        <h4>Lahuna Apps Help You:</h4>
        <ul>
            <li>Organize and manage your web data.</li>
            <li>Search and sort photo metadata.</li>
            <li>Simplify web related tasks.</li>
            <li>Run large data processing jobs.</li>
            <li>Use web services to their full potential.</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 div-pad">
      <div class="div">
        <h3>La-Who-Na??</h3>
        <h4>Why do we call ourselves "Lahuna"</h4>
        <ul>
          <li>It is a combination of Laguna and Kahuna.</li>
          <li><a href="#/wiki/extract/Laguna Beach, California">Laguna</a>: Our favorite seaside town Laguna Beach, California.</li>
          <li><a href="#/wiki/extract/Kahuna">Kahuna</a>: An important figure in Hawaiian culture.</li>
          <li>It just sounds Hawaiian.</li>
          <li>And everybody loves Hawaii, right?</li>
        </ul>
      </div>
    </div>
  </div>
</div>