<!--*****************************************************************************************************************
     Copyright © 2014 - 2016 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<title>Lahuna | Leveraging Web Services | A Richer Internet Experience</title>
<meta name="description" content="We leverage API interfaces to allow users to manage, organize,
        and utilize their web services and data in a more powerful and meaningful way." />

<div class="container">
    <div class="row banner img-rounded">
        <div class="col-md-3">
            <h1 class="img-rounded logo">Lahuna</h1>
        </div>
        <div class="col-md-6">
            <h2 id="bannermsg">Leveraging Google and Microsoft technologies to bring you a simpler, richer Internet experience</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h2>Welcome to Lahuna</h2>
            <p>
                <strong>Lahuna</strong> is built with the latest HTML5
                web standards and technology. HTML5 bridges the gap
                between web apps and platform-specific installed apps,
                creating a more standardized approach to writing software.
            </p>
        </div>
        <div class="col-md-3">
            <h2>Cross-Platform Apps</h2>
            <p>
                At Lahuna, our core belief is that one version of software
                should run on any type of web-enabled device without the need
                to rewrite code for specific operating systems and hardware.
            </p>
        </div>
        <div class="col-md-3">
            <h2>Behind the Scenes</h2>
            <p>
                We use Microsoft technology for our backend API
                interface and data processing. Our entire solution
                is hosted on Microsoft Azure.
            </p>
        </div>
        <div class="col-md-3">
            <h2>What's Coming Next</h2>
            <p>
                We will be releasing more web apps that will run on any
                device with a browser. Right now we are working on an app
                called <a href="/blitz">Blitz</a> that will allow you
                to post to all your favorite social media sites at once.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Who We Are</h2>
            <h3>Lahuna's Mission</h3>
            <p>
                We leverage the Google API (Application Programming Interface) to allow
                users to manage, organize, and utilize their Google services and data
                in a more powerful and meaningful way.
            </p>
        </div>
        <div class="col-md-4">
            <h2>What We Do</h2>
            <h3>Lahuna Apps Help You:</h3>
            <ul>
                <li>Organize and manage your Google data</li>
                <li>Search and sort photo metadata</li>
                <li>Simplify Google related tasks</li>
                <li>Run large data processing jobs</li>
                <li>Use Google services to their full potential</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>La-Who-Na??</h2>
            <h3>Why do we call ourselves "Lahuna"</h3>
            <ul>
                <li>It is a combination of Laguna and Kahuna</li>
                <li><a href="https://en.wikipedia.org/wiki/Laguna_Beach,_California" target="_blank">Laguna</a>: Our favorite seaside town Laguna Beach, California</li>
                <li><a href="https://en.wikipedia.org/wiki/Kahuna" target="_blank">Kahuna</a>: An important figure in Hawaiian culture</li>
                <li>It just sounds Hawaiian</li>
                <li>And everybody loves Hawaii, right?</li>
            </ul>
        </div>
    </div>
</div>
