<!--*****************************************************************************************************************
     Copyright © 2014 - 2015 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<title>Admin</title>
<meta name="description" content="Admin use only." />
        
<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-3">
            <h3>Admin</h3>
            <div class="list-group">
                <a class="list-group-item" href=/status><h4>Status</h4></a>
                <a class="list-group-item" href=/status/#/errors/-1><h4>Errors</h4></a>
                <a class="list-group-item" href=/foto/#/import><h4>Import</h4></a>
                <a class="list-group-item" href=/foto/#/split><h4>Split</h4></a>
                <a class="list-group-item" href=/foto/#/dup-albums><h4>Dup Albums</h4></a>
                <a class="list-group-item" href=/foto/#/albums-maint><h4>Album Maintenance</h4></a>
            </div>
        </div>
    </div>
</div>