<!--*****************************************************************************************************************
     Copyright © 2014 - 2015 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<title>Apps | Organize Google+ Photos | Manage YouTube Video Playlists</title>
<meta name="description" content="Lahuna.com web apps will give you more power and control
        of your photos and videos. Get things done and get more out of your web content." />
                
<div class="container">
    <div class="row">

        <div class="col-md-3">

            <h2>Our Web Apps</h2>
            <p>
                Get More Out of Your Web Content
            </p>
            <div class="list-group">
                <div><a class="list-group-item" href="/foto/">Foto (Photos)</a></div>
                <div><a class="list-group-item" href="/vida/">Vida (Videos)</a></div>
                <div><a class="list-group-item" href="/blitz/">Blitz (Sharing)</a></div>
                <!--<div><a class="list-group-item" href="/upload/">Upload</a></div>-->
                <!--<div><a class="list-group-item"href="/status/">Status</a></div>-->
            </div>

        </div>
        
        <div class="col-md-9">

            <h2>The Apps</h2>
            <h3>Web Apps to Improve Your Internet Experience</h3>
            <br />
            <h4>Foto</h4>
            <p>
                The <strong><a href="/foto/">Foto</a></strong> web app
                gives you more visibility into exactly what photos you have stored on Google+.
                It allows you to search, sort, and view your Google+ albums and photos
                on any device using a web browser. It also gives you the ability
                to delete, move, merge, organize, and update your Google+ albums and photos.
            </p>
            <br />
            <h4>Vida</h4>
            <p>
                What Foto does for Google+ photos and albums, <strong><a href="/vida/">Vida</a></strong>
                does for Youtube videos and playlists. Vida goes beyond standard Youtube capabilites,
                allowing you to search and tag playlists you have created. Vida provides a clean and 
                simplified user interface so you can find what you are looking for with ease and enjoy it
                more with minimal distractions.
            </p>
            <br />
            <h4>Blitz</h4>
            <p>
                The <strong><a href="/blitz/">Blitz</a></strong> web app
                allows you to post text, photos, and vides to your favorite social media sites like 
                Facebook, Blogger, Imgur, and Reddit all with the click of a button. No need to visit 
                individual web sites or apps, just use Blitz to do it all in one place!
            </p>
            <!--<br />-->
            <!--<h4>Upload</h4>
            <p>
                <strong><a href="/upload/">Upload</a></strong> web app: If you're like most people, you
                have tens of thousands of photos all disorganized in various backup
                folders on multiple computers and devices. This app will collect all your
                photos then upload them to Google+
                so that they are backed up securely in a central location on the Google
                cloud storage servers.
            </p>
            <br />-->
            <!--<h4>Status</h4>
            <p>
                Want to monitor photo organizing or uploading jobs you have running in our Photo/Upload apps?
                No problem. Just launch our <strong><a href="/status/">Status</a></strong> web app from any
                device and you can check to see how things are progressing.
            </p>
            <br />-->
            <!--<h4>Coming Soon</h4>
            <p>
                Like what our Photo app does for Google+ photos? Well our <strong>Video</strong>
                web app will bring you that same functionality, but with videos on YouTube. Stay
                tuned...
            </p>-->
            <!--<p>
                Coming Soon: The <strong>PowerTube</strong>
                web app will allow you to search and play
                YouTube videos on any device using a web browser. This app uses the YouTube
                HTML5 video player which eliminates the need for Adobe Flash or a YouTube
                app to be installed on your device. PowerTube also allows you to watch and search for videos
                simultaneously and returns search results super fast.
            </p>-->
            <!--<p>
                In the very near future we will also be releasing web apps to Lahuna.com that
                will give you more power and control of your Google+ photos and YouTube videos.
                From moving or copying video playlists to different YouTube channels, to auto-
                generating playlists based on keyword search parameters you provide, Lahuna.com
                will be the place to come to get things done and get more out of your web content.
            </p>-->

        </div>

        

    </div>
</div>