<!--*****************************************************************************************************************
     Copyright © 2014 - 2015 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<title>Chris Davison | Principal Architect Developer | Engineer | MBA</title>
<meta name="description" content="Realize the power of APIs and how businesses can mutually benefit
        by sharing data, processing it, then sending it out via the Internet conduit." />

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2>Chris Davison</h2>
            <h3>Principal Architect and Developer</h3>
            <p>
                Chris has two degrees from California State University, Long Beach. A Bachelor of
                Science in Electrical Engineering (BSEE) and a Master of Business
                Administration (MBA) in Finance.
            </p>
            <p>
                While working on his Engineering degree in college, Chris began his career at Unisys writing firmware
                for RAID disk array controllers. At Unisys he was able to apply what he learned in school
                to a real-world project. His position required a combination of computer hardware and software
                expertise.
            </p>
            <p>
                Chris then went back to Cal State Long Beach to get an MBA degree. Specializing in Finance and
                participating in the Student Managed Investment Fund (SMIF), Chris realized he had a second
                passion: Investing money. He then became a licensed independent Registered Representative and
                began managing investment portfolios for individual clients.
            </p>
            <p>
                Chris then had an opportunity to partner up with Qualified Capital to help them grow their
                investment advisor services. In that position, it became apparent that Qualified Capital, and
                the financial services industry in general, used severely antiquated computer systems to manage
                their client data, run reports, and perform due diligence for the regulatory agencies. So Chris
                shifted back to programming and developed a software application to manage and report all aspects
                of the investment advisory process, such as portfolio management, asset allocation, and performance
                reporting.
            </p>
            <p>
                After about a year, Washington Mutual Financial Services noticed what Chris was doing at Qualified
                Capital and asked him to join their development team as a consultant. At WMFS he was tasked with
                building an application that would support backoffice personnel from compliance to the call
                center. Using Microsoft web technologies with an Oracle database the application provided data entry,
                importing data from 3rd party web services, data transformation, and reporting.
            </p>
            <p>
                Chris later worked as an independent consultant in the healthcare industry writing a Silverlight
                application used for processing medical insurance claims. It was that experience that led him to
                realized the power of Application Programming Interfaces (APIs) and how businesses could leverage
                each other in mutually beneficial ways by sharing data. How information from different sources
                could be brought together, processed, and sent back out by using the Internet as a conduit.
            </p>
            <p>
                Chris' current focus now is developing responsive HTML5 web apps using AngularJS and Bootstrap.
            </p>

        </div>
        <div class="col-md-3">
            <h3>
                Contact Chris
            </h3>
            <ul class="link-list">
                <li>
                    <script language="JavaScript">
                        var username = "chris";
                        var hostname = "lahuna.com";
                        var linktext = username + "@" + hostname;
                        document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
                    </script>
                </li>

                <li><a href="https://www.linkedin.com/in/chrisdavison" target="_blank">LinkedIn</a></li>
            </ul>
        </div>
    </div>
</div>
       