<!--*****************************************************************************************************************
     Copyright © 2014 - 2015 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<title>Consult | Software Development Projects | Custom Website Apps</title>
<meta name="description" content="Lahuna provides programming resources that can work independently
        or part of a team. We use project management tools to streamline projects." />
        
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2>Software Development Projects</h2>
            <h3>The Programming Resources You Need</h3>
            <p>
                Lahuna provides on-site or remote programming resources that can
                work independently or part of an existing team. With 20+ years of
                programming experience, we can be a major
                contributor to your project.
            </p>
            <p>
                We utilize the latest project management methodologies to streamline
                programming projects to deliver products on time and
                on budget.
            </p>
                <h2>Custom Websites and Apps</h2>
                <h3>Efficiently Grow Your Business</h3>
            <p>
                Looking to get a Web presence on the Internet for your business?
                We can build a custom website tailored to your specific needs.
                A website will market your products or services. It will allow
                you to communicate with your customers and run your business
                in a more efficient manner. A website will save you time and
                money.
            </p>
            <p>
                We use the latest web standards and <a href="/tech">technology</a>
                when building a website. This will keep your site
                compatible with today's...and tomorrow's devices. It will also
                give your customers confidence in how you run your business.
            </p>
                <h2>Collaboration</h2>
                <h3>Let's Work Together on a New Product</h3>
            <p>
                Have a software product idea, but don't have the programming
                resources to make it happen? Lahuna is always looking for
                opportunities to partner up with other entrepreneurs that
                want to work collaboratively on building an app, website, or other
                software product.
            </p>
        </div>
        <div class="col-md-3">
            <h2>Project Managment Methodologies</h2>
            <p>
                These provide project structure and efficiency
            </p>
            <ul class="link-list">
                <li><a href="https://en.wikipedia.org/wiki/Scrum_(software_development)" target="_blank">SCRUM</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Agile_software_development" target="_blank">Agile</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Systems_Development_Life_Cycle" target="_blank">SDLC</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Kanban_(development)" target="_blank">Kanban</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Extreme_Programming" target="_blank">Extreme Programming</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Rapid_application_development" target="_blank">Rapid Application Development</a></li>
            </ul>
        </div>
    </div>
</div>