<!--*****************************************************************************************************************
     Copyright © 2014 - 2015 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<title>Lahuna | Web Apps | Photos | Videos</title>
<meta name="description" content="Lahuna provides web apps for your photos, videos, and social media." />
<link rel="stylesheet" href="css/style.css" />

<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 jumbotron">
            <div class="MainHeading">
                <h1>Lahuna</h1>
                <p>Web apps for your photos, videos, and social media.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-5 col-md-2">
            <div class="list-group">
                <a class="list-group-item" href="#/apps"><h4>Try Our Apps</h4></a>
            </div>
        </div>
    </div>
</div>
