<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div ng-include="'views/app.html'"></div>
    </div>
    <div ng-include="'/views/nav-items.html'"></div>
  </div><!--/.container-fluid -->
</nav>
