<!--*****************************************************************************************************************
     Copyright 2014-2022 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<title>Privacy Policy | How We Use Your Information</title>
<meta name="description" content="This Privacy Policy describes what types of information Lahuna collects from you,
    and how Lahuna receives, uses, and shares that information" />

<div class="container">
  <div class="row">
      <div class="col-md-12 div">
        <h2>
            Lahuna Privacy Policy
        </h2>
        <p>
            Last modified: March 24, 2014
        </p>
        <p>
            This Privacy Policy describes what types of information Lahuna collects from you, and how Lahuna receives, uses,
            and shares that information when you use our website or applications (“Services” or “Lahuna”). When using any
            of our Services you consent to the collection, transfer, manipulation, storage, disclosure, and other uses
            of your information as described in this Privacy Policy.
        </p>
        <p>
            If you have any questions or comments about this Privacy Policy, please contact us on our contact page.
        </p>
        <h3>
            Types of Information Lahuna Collects
        </h3>
        <p>
        </p>
        <h4>
            Log Data
        </h4>
        <p>
            Log data is information stored on remote servers that is recorded, or logged, when you use our Services. We receive
            log data when you interact with our Services, such as when you visit our website, sign into our Services, or
            interact with our email.
        </p>
        <p>
            Log data may include information about the hardware you are using to access our Services, such as the unique device
            identifier, device type, model, and manufacturer. It may also include information about your software such
            as your web browser type, operating system, and language you are using.
        </p>
        <p>
            Lahuna may capture and log network related information such as your IP address, mobile phone number, internet service
            provider, or your mobile carrier. If you have enabled your computer or device to send us location information,
            we may log your geographic location based on the GPS coordinates of your device or the location of your internet
            service provider.
        </p>
        <p>
            Log data may also include your web browsing activity such as the date and time of the activity, search query terms
            you used, what webpage referred you to our Services, and what pages you visited when browsing our Services.
            Lahuna may log data on how you interact with links across our Services, including our email notifications.
        </p>
        <h4>
            Cookies and HTML5 Local Storage
        </h4>
        <p>
            A cookie is a small data file that is stored on your computer, mobile phone, or other device when you use Lahuna
            Services. The next time you use our Services, the browser sends the cookie back to our server to notify us
            of your previous activity. This allows us to recognize you and apply any previous progress, settings, or preferences
            you may have had. Like cookies, HTML5 local storage is information we store on your computer or device, but
            gives us the flexibility to store larger amounts of data.
        </p>
        <p>
            Most Internet browsers automatically accept cookies. You can change your browser settings to stop accepting cookies
            or to prompt you before accepting a cookie from the websites you visit. However, some Services may not function
            properly if you disable cookies.
        </p>
        <h4>
            Pixel Tags
        </h4>
        <p>
            Pixel tags are small blocks of code on Lahuna webpages that allow us to measure a user’s activities on a particular
            webpage. We may also use pixel tags to notify us when an email we have sent you is opened or accessed.
        </p>
        <p>
        </p>
        <h3>
            How Lahuna Receives Your Information
        </h3>
        <p>
            When you authorize Lahuna’s Services to connect to your third-party account on your behalf we will pull your basic
            information such as your name, username, email address, and mobile phone number, if applicable. We may also
            retrieve more detailed information about you such as your profile bio and photo. Items you have designated
            as public for your third-party account will also be designated as public on any Lahuna Services.
        </p>
        <p>
            Once you have linked your third-party account to our Services, any text, posts, lists, photos, or videos (“Content”)
            will be shared and automatically synchronized between our Services and your third-party. All the Content will
            continue to be stored on your third-party’s servers, but you will be able to view, modify, or add to it using
            Lahuna Services if you choose.
        </p>
        <p>
            Finally, Lahuna can receive information about you through email correspondences you have with us and indirectly
            through other Lahuna users posting Content about you.
        </p>
        <h3>
            How Lahuna Uses Your Information
        </h3>
        <p>
            Accessing and using your information is very important to the basic functions of our business. When you login to
            Lahuna, we use your username and password to authenticate who you are so that your data can remain secure.
            Monitoring user data allows us to protect the rights and property of Lahuna and our users. It also keeps our
            products, services, and integrations with other systems safe and secure.
        </p>
        <p>
            Lahuna uses your information to customize our Services. That way we can offer you personalized content and to develop
            new innovative features and Services to better meet your needs. Knowing more about you also gives us the opportunity
            to offer relevant advertising that shows items you are more likely to be interested in.
        </p>
        <p>
            Lahuna’s Services use your information to help you connect with other people and to allow friends and family to
            find you on Lahuna or on a third-party service. With your information we can make sharing and other tasks quicker
            and easier. We access your information when we need to keep in touch with you to let you know about new features
            or changes to our Services. We may also contact you to make suggestions on how to get more out of our Services
            or to respond to any questions or comments you may have.
        </p>
        <p>
            We access user information in order to maintain Lahuna’s systems and for internal operations, such as troubleshooting,
            data analysis, testing, and research. Analyzing user data helps us measure how we are doing so we can improve
            our Services. It also allows us to assess the effectiveness and improve the quality of our advertising.
        </p>
        <h3>
            When Lahuna Shares Your Information
        </h3>
        <p>
            There may be cases when Lahuna shares your information with other individuals, companies, organizations, governments,
            or law-enforcement agencies (“Recipients”). We would do this if the access, use, preservation or disclosure
            (“Sharing”) of the information is reasonably necessary to comply with a law, regulation, government request,
            or legal process (like a search warrant, court order, or subpoena).
        </p>
        <p>
            Lahuna may allow Sharing your information with Recipients if we have a good faith belief that it is necessary to
            detect, prevent, and address fraud or other illegal activity; to resolve security or technical issues; to enforce
            our terms of service and to investigate possible violations; or to protect against harm the rights, property,
            or safety of Lahuna, our users, or the public as required or permitted by law.
        </p>
        <p>
            Should the ownership of Lahuna change, your information may be sold or transferred as part of that transaction.
            However, your information will remain protected as specified in this Privacy Policy.
        </p>
        <h3>
            Making Your Information Public
        </h3>
        <p>
            Our Services are designed to help you share Content with the world in a public manner. When you share Content via
            the Services, you should think carefully about what you are making public. Remember that when you share information
            publicly it is associated with you and it may show up when someone does a search on Lahuna, the third-party
            where the information is stored, or on a public search engine. You should only share information with people
            you trust because they will be able to save it or re-share it with others.
        </p>
        <h3>
            Changes to This Policy
        </h3>
        <p>
            We may periodically revise this Privacy Policy. The most recent version of the policy will dictate our use of your
            information and will always be on our website. If we make a change to this policy we will notify you via a
            website notice or email. Once you begin using the Services after the Privacy Policy changes have been posted
            to our website, you agree to be bound by the new Privacy Policy.
        </p>
      </div>
  </div>
</div>
