<!--*****************************************************************************************************************
     Copyright © 2014 - 2015 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-3">
            <h3>Rest Client</h3>
        </div>
    </div>
    <div class="row">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-md-2" for="AccessToken">Access Token:</label>
                <div class="col-md-8">
                    <textarea ng-model="accessToken" class="form-control" id="AccessToken" rows="1"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="Origin">Origin:</label>
                <div class="col-md-8">
                    <textarea ng-model="origin" class="form-control" id="Origin" rows="1"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="PathName">Path Name:</label>
                <div class="col-md-8">
                    <textarea ng-model="pathname" class="form-control" id="PathName" rows="1"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="Search">Search:</label>
                <div class="col-md-8">
                    <textarea ng-model="search" class="form-control" id="Search" rows="1"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <button class="btn btn-primary" type="button" ng-click="Send()">Send</button>
                    <button class="btn btn-default" type="button" ng-click="Clear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>{{response | stringify}}</p>
        </div>
    </div>
</div>
