<!--*****************************************************************************************************************
     Copyright © 2014 - 2015 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<title>Tech | Cross-Platform Responsive HTML5 | JavaScript | JQuery | API</title>
<meta name="description" content="We use the latest technology at Lahuna.com. Microsoft
        provides the tools and hosting environment. Google provides the web services and data." />
        
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>Web Technologies We Use</h2>
            <p>
                There are many powerful web coding tools available. Here is a
                list of the ones we use the most.
            </p>
            <ul>
                <li><a href="https://en.wikipedia.org/wiki/AngularJS" target="_blank">AngularJS</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Bootstrap_(front-end_framework)" target="_blank">Bootstrap</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Html5" target="_blank">HTML5</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Responsive_web_design" target="_blank">Responsive Web Design</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Javascript" target="_blank">JavaScript</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Jquery" target="_blank">JQuery</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Json" target="_blank">JSON</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Ajax_(programming)" target="_blank">AJAX</a></li>
                <li><a href="https://en.wikipedia.org/wiki/XML" target="_blank">XML</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Css" target="_blank">CSS</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Web_services" target="_blank">Web Services</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Representational_state_transfer" target="_blank">REST</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Api" target="_blank">API</a></li>
            </ul>
            <h2>Core Google Services</h2>
            <p>
                These are the most popular services offered by Google
            </p>
            <ul>
                <li><a href="https://plus.google.com" target="_blank">Google+</a></li>
                <li><a href="https://www.youtube.com" target="_blank">YouTube</a></li>
                <li><a href="https://www.google.com" target="_blank">Google Search</a></li>
                <li><a href="https://mail.google.com" target="_blank">Gmail</a></li>
                <li><a href="https://www.google.com/maps" target="_blank">Google Maps</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Google</h2>
            <h3>The Data Services</h3>
            <p>
                Lahuna web apps integrate with Google's web services using REST APIs to allow users
                to upload, organize, manipulate, and search their data stored on Google's
                cloud storage.
            </p>
            <h2>Microsoft</h2>
            <h3>The Development and Hosting Environment</h3>
            <p>
                At Lahuna we use Microsoft's Visual Studio 2013 integrated development environment
                (IDE) for all aspects of our software development process. From writing our HTML5
                web pages to coding our backend C# code. From building a Web
                API REST service to publishing our web site on Azure. Microsoft provides us all the tools we
                need to get the job done.
            </p>
            <h2>Web</h2>
            <h3>The Building Blocks of the Internet</h3>
            <p>
                HTML is at the core of any website. We use the latest HTML standard, HTML5 which offers
                greater multimedia support as well as cross-platform capabilities for different
                browsers and devices. We also incorporate Responsive Web Design which allows our
                web apps to remain visually pleasing on varying screen resolutions, from smartphones
                to TVs. Most of our apps utilize API interfaces to send and receive data from
                third party providers such as Google. Some of the APIs use application specific
                web service interfaces. Others use REST which is a more standardized approach
                to sharing data across the Web.
            </p>
        </div>
        <div class="col-md-3"> 
            <h2>Microsoft Technologies We Use</h2>
            <p>
                Microsoft provides us with the tools we need to create web pages and to write
                and debug code. They also host our website and database.
            </p>
            <ul>
                <li><a href="https://en.wikipedia.org/wiki/ASP.NET" target="_blank">ASP.NET</a></li>
                <li><a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)" target="_blank">C#</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Language_Integrated_Query" target="_blank">LINQ</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Windows_Presentation_Foundation" target="_blank">WPF</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Windows_Communication_Foundation" target="_blank">WCF</a></li>
                <li><a href="https://en.wikipedia.org/wiki/ASP.NET_MVC_Framework" target="_blank">MVC</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Windows_Azure" target="_blank">Azure</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Microsoft_SQL_Server" target="_blank">SQL Server</a></li>
            </ul>
            <h2>Other Google Services</h2>
            <p>
                Here are some lesser known services offered by Google
            </p>
            <ul>
                <li><a href="https://www.google.com/voice#inbox" target="_blank">Google Voice</a></li>
                <li><a href="https://drive.google.com" target="_blank">Google Drive</a></li>
                <li><a href="https://www.google.com/settings/dashboard" target="_blank">Google Dashboard</a></li>
                <li><a href="https://www.google.com/settings/storage" target="_blank">Google Storage</a></li>
                <li><a href="https://www.google.com/settings/takeout" target="_blank">Google Takeout</a></li>
                <li><a href="https://www.google.com/bookmarks" target="_blank">Google Bookmarks</a></li>
            </ul>    
        </div>
    </div>
</div>

       