<!--*****************************************************************************************************************
     Copyright 2014 - 2017 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<title>Tech | Cross-Platform Responsive Web-Apps | JavaScript | API</title>
<meta name="description" content="We build mobile-friendly web-apps using MongoDB,
  Express, Angular JS, and Node.js (MEAN)." />

<div class="container">
    <div class="row">
        <div class="col-md-3 psize div-pad">
          <div class="div div-margin">
            <h3 class="martop">Web Technologies We Use</h3>
            <p>
                There are many powerful web coding tools available. Here is a
                list of the ones we use the most.
            </p>
            <ul class="link-list">
                <li><a href="#/wiki/extract/Angular (application platform)">Angular</a></li>
                <li><a href="#/wiki/extract/AngularJS">AngularJS</a></li>
                <li><a href="#/wiki/extract/Express.js">Express.js</a></li>
                <li><a href="#/wiki/extract/Node.js">Node.js</a></li>
                <li><a href="#/wiki/extract/MongoDB">MongoDB</a></li>
                <li><a href="#/wiki/extract/Bootstrap (front-end framework)">Bootstrap</a></li>
                <li><a href="#/wiki/extract/HTML5">HTML5</a></li>
                <li><a href="#/wiki/extract/JavaScript">JavaScript</a></li>
                <li><a href="#/wiki/extract/TypeScript">TypeScript</a></li>
                <li><a href="#/wiki/extract/JSON">JSON</a></li>
                <li><a href="#/wiki/extract/Cascading Style Sheets">CSS</a></li>
                <li><a href="#/wiki/extract/Representational state transfer">REST</a></li>
                <li><a href="#/wiki/extract/Application programming interface">API</a></li>
            </ul>
        </div>
        </div>
        <div class="col-md-6 psize div-pad">
          <div class="div div-margin">
            <h3 class="martop">The Data Services</h3>
            <p>
                Lahuna web-apps integrate with social media APIs using REST to allow users
                to upload, post, organize, manipulate, and search their social media data.
            </p>
            <h3 class="martop">Our Web Technology</h3>
            <p>
                For our web solutions we use what is called the MEAN stack. M for
                MongoDB database, E for Express.js, A for Angular, and N for Node.js.
                These frameworks and services allow developers to code in Javascript
                for the front-end and back-end. MongoDB even stores data as JSON
                (JavaScript Object Notation) documents that interface with Javascript
                beautifully.
            </p>
            <h3 class="martop">The Building Blocks of the Internet</h3>
            <p>
                HTML is at the core of any website. We use the latest HTML standard, HTML5 which offers
                greater multimedia support as well as cross-platform capabilities for different
                browsers and devices. We also incorporate Responsive Web Design which allows our
                web apps to remain visually pleasing on varying screen resolutions, from smartphones
                to TVs. Most of our apps utilize API interfaces via REST to send and receive data from
                third party providers such as Google. REST is a standardized approach
                to sharing data across the Web.
            </p>
            </div>
        </div>
        <div class="col-md-3 psize div-pad">
          <div class="div div-margin">
            <h3 class="martop">APIs</h3>
            <p>
                These are the application programming interfaces (APIs) we use
            </p>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Google Photos</li>
                <li>YouTube</li>
                <li>Blogger</li>
                <li>LinkedIn</li>
                <li>Tumblr</li>
                <li>Instagram</li>
                <li>Pinterest</li>
                <li>Imgur</li>
                <li>Reddit</li>
                <li>Wikipedia</li>
                <li>Flickr</li>
            </ul>
            </div>
        </div>
    </div>
</div>
