<!--*****************************************************************************************************************
     Copyright © 2014 - 2016 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<title>Terms of Service | What You Need to Know | Please Read Carefully</title>
<meta name="description" content="These are the terms of service for our website.
            By using our Services, you agree to these terms. Please read them carefully" />

<div class="container">
    <div class="row">
      <div class="col-md-12 div">
        <h1 class=martop>
            Lahuna Terms of Service
        </h1>
        <p>
            Last modified: April 2, 2014
        </p>
        <p>
            Our products and services are provided by Lahuna. Lahuna and its officers, directors, employees, agents, representatives,
            partners, and licensors, as well as “us,” “we,” and “our” are collectively referred to as “Lahuna”.
        </p>
        <p>
            These Terms of Service ("Terms"), along with our Privacy Policy, are the entire and exclusive agreement between
            Lahuna and you regarding our services and govern your access to and use of our services, website, applications,
            software, networks, computer systems, and email notifications ("Services”).
        </p>
        <p>
            You must follow any policies made available to you within the Services. Your access to and use of the Services
            are conditioned on your acceptance of and compliance with these Terms and all applicable local, state, national,
            and international laws, rules and regulations.
        </p>
        <p>
            If you are accepting these Terms and using the Services on behalf of a company, organization, government, or other
            legal entity, you represent and warrant that you are authorized to do so.
        </p>
        <p>
            For the purposes of these Terms any information, communications, text, graphics, photos, videos, or other media
            uploaded, downloaded, or appearing on the Services will be collectively referred to as "Content".
        </p>
        <p>
            We may change or stop providing all or part of a Service without prior notice to you. We may also create or modify
            limits on the amount of usage or storage we allow for a Service without prior notice to you.
        </p>
        <p>
            If you violate the letter or spirit of these Terms, or create risk or legal exposure for us, we reserve the right
            to terminate your account as we see fit.
        </p>
        <p>
            We reserve the right to remove or reclaim your account username without liability to you if we believe it is appropriate.
        </p>
        <p>
            Any feedback, comments, or suggestions you may provide regarding Lahuna, or the Services is entirely voluntary
            and we will be free to use such information as we see fit and without any obligation to you.
        </p>
        <h2>
            Changes to the Terms
        </h2>
        <p>
            We may periodically modify these Terms. We will notify you via a website notice or email if any revisions are made.
            The most recent version of our Terms will always be available on our website and will supersede and replace
            any prior agreements between Lahuna and you regarding the Services. Your continued use of our Services following
            changes to our Terms constitutes your acceptance of our amended Terms. If you do not agree to the modified
            Terms you should discontinue use of our Services.
        </p>
        <h2>
            Privacy
        </h2>
        <p>
            Any information that you provide to Lahuna or our Services is subject to our Privacy Policy, which governs our
            collection and use of your information. By using our Services, you agree that Lahuna can use your data in accordance
            with our Privacy Policy.
        </p>
        <p>
            As part of providing you the Services, we may need to send certain communications, like service announcements and
            administrative messages. These communications are considered part of the Services and you may not be able to
            opt-out of receiving them.
        </p>
        <h2>
            Merchant Payment Processing
        </h2>
        <p>
            Lahuna uses Braintree, a division of PayPal, Inc. (Braintree) for merchant payment processing services. By using the
            Braintree payment processing services you agree to the Braintree Payment Services Agreement available at
            <a href="https://www.braintreepayments.com/legal/gateway-agreement" target="_default">
              https://www.braintreepayments.com/legal/gateway-agreement
            </a>, and the applicable bank agreement available at
            <a href="https://www.braintreepayments.com/legal/cea-wells" target="_default">
              https://www.braintreepayments.com/legal/cea-wells
            </a>.
        </p>
        <h2>
            Third Party Links
        </h2>
        <p>
            The Services may contain links to third party websites (“Linked Websites”). You acknowledge sole responsibility
            for and assume all risk arising from your use of any Linked Websites. We do not endorse any Linked Websites
            or their availability, accuracy, content, products, or services.
        </p>
        <h2>
            Submitting Your Content to Our Services
        </h2>
        <p>
            When you submit Content to our Services, you retain ownership of any intellectual property rights that you hold
            in that Content. You do, however, grant Lahuna a non-exclusive, transferable, sub-licensable, royalty-free,
            worldwide license to use, copy, reproduce, process, adapt, modify, publish, transmit, display and distribute
            the Content in any and all current and future developed media or distribution methods. Make sure you have the
            necessary rights, power, and authority to grant us this license for any Content that you submit to our Services.
        </p>
        <p>
            We may modify your Content in order to conform and adapt it to any requirements or limitations of any networks,
            devices, services, or media so that is can be properly transmitted, displayed, or distributed.
        </p>
        <p>
            We may remove or refuse to display Content that we believe violates these Terms, our Privacy Policy, or any applicable
            law or regulation.
        </p>
        <p>
            You are solely responsible for any consequences as a result of posting Content to the Services.
        </p>
        <h2>
            Content Submitted by Others
        </h2>
        <p>
            Lahuna may not monitor or control the Content posted via the Services and we do not take responsibility for such
            Content. You understand that by using the Services, you may be exposed to Content that might be offensive,
            harmful, inappropriate, deceptive, or mislabeled. Any use or reliance on the Content available on our Services
            is at your own risk. We do not endorse, support, represent, or guarantee the completeness, truthfulness, accuracy,
            or reliability of any Content posted on the Services. We do not endorse any opinions expressed via the Services.
        </p>
        <h2>
            License to Use the Services
        </h2>
        <p>
            Lahuna gives you a personal, worldwide, royalty-free, non-assignable, and non-exclusive license to use the Services.
            This license is for the sole purpose of enabling you to use and enjoy the benefit of our Services in accordance
            with these Terms.
        </p>
        <h2>
            Our Intellectual Property Rights
        </h2>
        <p>
            Using our Services does not give you ownership of any intellectual property rights in our Services or the Content
            you access. All right, title, and interest in and to the Services (excluding Content provided by users) are
            and will remain the exclusive property of Lahuna. The Services are protected by copyright, trademark, and other
            laws of both the United States and foreign countries. You may not use any Lahuna branding, logos, domain names,
            or other distinctive brand features.
        </p>
        <h2>
            What Not to Do on Our Services
        </h2>
        <p>
            You will not post Content or take any action on our Services that is unlawful, misleading, malicious, discriminatory,
            or infringes the rights of others. You will not post Content that contains hate speech, threats, pornography,
            nudity, or graphic or gratuitous violence. You will not bully, intimidate, or harass any user. You will not
            tag, message, or email others without their consent. You will not solicit login information or access an account
            belonging to someone else.
        </p>
        <p>
            Do not misuse or interfere with the normal functionality of our Services. You will not upload viruses or other
            malicious code. You will not do anything that could disable, overburden, or impair the proper working or appearance
            of our Services. You will access our Services using the normal method, interface, and instructions that we
            provide.
        </p>
        <p>
            You will not access, tamper with, or use non-public areas of the Services.
        </p>
        <p>
            You will not probe, scan, or test the vulnerability of our Services. You will not attempt to breach or circumvent
            any security or authentication measures we have in place.
        </p>
        <p>
            You will not collect users' Content or information, or otherwise access the Services, using automated means (such
            as harvesting bots, robots, spiders, or scrapers). However, crawling the Services is permissible if done in
            accordance with the provisions of the robots.txt file.
        </p>
        <p>
            You may not copy, modify, distribute, sell, or lease any part of our Services. You may not reverse engineer, decompile,
            or attempt to extract the source code of our Services.
        </p>
        <p>
            Don’t remove, obscure, or alter any legal notices displayed in or along with our Services.
        </p>
        <p>
            You will not forge any TCP/IP packet header or any part of the header information in any email or posting. You
            will not in any way use the Services to send altered, deceptive, or false source-identifying information.
        </p>
        <h2>
            Who May Not Use Our Services
        </h2>
        <p>
            You will not use our Services if you are a convicted sex offender or are a person barred from receiving products,
            services, or software under the laws of the United States or other applicable jurisdiction.
        </p>
        <h2>
            Protect Your Password
        </h2>
        <p>
            You will not share your password, let anyone else access your account, or do anything else that might jeopardize
            the security of your account. You are responsible for any activities and actions in your account as well as
            any loss or damage to your Content or information should you fail to properly safeguard your account and password.
        </p>
        <h2>
            Special Considerations for Mobile Devices
        </h2>
        <p>
            Some of our Services are available on mobile devices. Do not use the Services in a manner that distracts your driving
            or prevents you from obeying traffic and safety laws. Be aware that your mobile carrier’s normal texting and
            data rates and fees will apply when you access our Services via a mobile device. In the event you change or
            deactivate your mobile telephone number, be sure to update your account information so that any person acquiring
            your old phone number will not have access to your messages and other information.
        </p>
        <h2>
            Copyright Policy
        </h2>
        <p>
            You may not use Content from Lahuna’s Services unless you obtain permission from its owner or are otherwise permitted
            by law. Lahuna responds to notices of alleged copyright infringement and may terminate accounts of repeat infringers
            according to the process set out in the U.S. Digital Millennium Copyright Act. At our sole discretion, we may
            remove any Content that has been identified as violating a copyright. Copyright violations can be reported
            on our contact page.
        </p>
        <h2>
            Limitations of Liability and Disclaimers
        </h2>
        <p>
            YOUR USE AND ACCESS TO OUR SERVICES IS AT YOUR OWN RISK. WE ARE PROVIDING OUR SERVICES ON AN “AS IS” AND “AS AVAILABLE”
            BASIS WITHOUT ANY EXPRESS OR IMPLIED WARRANTIES INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.
        </p>
        <p>
            NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED FROM LAHUNA OR THROUGH THE SERVICES, WILL CREATE ANY
            WARRANTY NOT EXPRESSLY MADE HEREIN.
        </p>
        <p>
            WE DO NOT GUARANTEE THAT OUR SERVICES WILL ALWAYS BE SAFE, SECURE OR ERROR-FREE OR THAT OUR SERVICES WILL ALWAYS
            FUNCTION WITHOUT DISRUPTIONS, DELAYS OR IMPERFECTIONS.
        </p>
        <p>
            LAHUNA WILL NOT BE LIABLE TO YOU FOR ANY LOST PROFITS, REVENUES, OR OTHER FINANCIAL LOSSES, OR ANY LOSS OF DATA,
            USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, OR INDIRECT, SPECIAL, CONSEQUENTIAL, INCIDENTAL, EXEMPLARY, OR
            PUNITIVE DAMAGES ARISING OUT OF OR IN CONNECTION WITH OUR SERVICES OR OUR TERMS, EVEN IF WE HAVE BEEN ADVISED
            OF THE POSSIBILITY OF SUCH DAMAGES.
        </p>
        <p>
            IF YOU ARE USING OUR SERVICES ON BEHALF OF A BUSINESS, THAT BUSINESS ACCEPTS THESE TERMS. IT WILL HOLD HARMLESS
            AND INDEMNIFY LAHUNA FROM ANY CLAIM, SUIT OR ACTION ARISING FROM OR RELATED TO THE USE OF THE SERVICES OR VIOLATION
            OF THESE TERMS, INCLUDING ANY LIABILITY OR EXPENSE ARISING FROM CLAIMS, LOSSES, DAMAGES, SUITS, JUDGMENTS,
            LITIGATION COSTS AND ATTORNEYS’ FEES.
        </p>
        <p>
            LAHUNA IS NOT RESPONSIBLE FOR THE ACTIONS, CONTENT, INFORMATION, OR DATA OF THIRD PARTIES, AND YOU RELEASE LAHUNA
            FROM ANY CLAIMS AND DAMAGES, KNOWN AND UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH ANY CLAIM YOU HAVE
            AGAINST ANY SUCH THIRD PARTIES.
        </p>
        <p>
            ALTHOUGH WE PROVIDE RULES FOR USER CONDUCT, WE DO NOT CONTROL OR DIRECT USERS' ACTIONS ON OUR SERVICES AND ARE
            NOT RESPONSIBLE FOR THE CONTENT OR INFORMATION USERS TRANSMIT OR SHARE ON OUR SERVICES. WE ARE NOT RESPONSIBLE
            FOR ANY OFFENSIVE, INAPPROPRIATE, OBSCENE, UNLAWFUL OR OTHERWISE OBJECTIONABLE CONTENT OR INFORMATION YOU MAY
            ENCOUNTER ON OUR SERVICES.
        </p>
        <p>
            IF ANYONE BRINGS A CLAIM AGAINST LAHUNA RELATED TO YOUR ACTIONS, CONTENT, OR INFORMATION ON OUR SERVICES, YOU WILL
            INDEMNIFY AND HOLD US HARMLESS FROM AND AGAINST ALL DAMAGES, LOSSES, AND EXPENSES OF ANY KIND (INCLUDING LEGAL
            FEES AND COSTS) RELATED TO SUCH CLAIM.
        </p>
        <p>
            FOR ANY CLAIMS UNDER THESE TERMS THE AGGREGATE LIABILITY OF LAHUNA SHALL NOT EXCEED THE GREATER OF ONE HUNDRED
            U.S. DOLLARS (U.S. $100.00) OR THE AMOUNT YOU PAID LAHUNA, IF ANY, IN THE PAST SIX MONTHS FOR USE OF THE SERVICES.
        </p>
        <p>
            THE LIMITATIONS OF THIS SECTION SHALL APPLY TO ANY THEORY OF LIABILITY, WHETHER BASED ON WARRANTY, CONTRACT, STATUTE,
            TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, AND WHETHER OR NOT LAHUNA HAS BEEN INFORMED OF THE POSSIBILITY OF
            ANY SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.
        </p>
        <p>
            SOME JURISDICTIONS MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY OR INCIDENTAL OR CONSEQUENTIAL DAMAGES,
            SO THE LIMITATIONS OR EXCLUSIONS IN THIS SECTION MAY NOT APPLY TO YOU. IN SUCH CASES, LAHUNA'S LIABILITY WILL
            BE LIMITED TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW.
        </p>
        <h2>
            General Terms
        </h2>
        <p>
            The laws of the State of California, U.S.A., will apply to any dispute, claim, cause of action, legal proceeding,
            or litigation arising out of or relating to these Terms, the Services, or Lahuna, without regard to conflict
            of law provisions, and will be brought solely in the federal or state courts located in Orange County, California,
            United States. You consent to the jurisdiction of and venue in such courts and waive any objection as to inconvenient
            forum.
        </p>
        <p>
            If any provision of these Terms is held to be invalid or unenforceable, then that provision will be limited or
            eliminated to the minimum extent necessary, and the remaining provisions of these Terms will remain in full
            force and effect.
        </p>
        <p>
            If we fail to enforce any provision of these Terms, it will not be considered a waiver of our rights. We may decide
            to take enforcement action in the future.
        </p>
        <p>
            You will not transfer any of your rights or obligations under these Terms to anyone else without our consent.
        </p>
        <p>
            All of our rights and obligations under these Terms are freely assignable by us in connection with a merger, acquisition,
            or sale of assets, or by operation of law or otherwise.
        </p>
        <p>
            These terms control the relationship between Lahuna and you. They do not create any third party beneficiary rights.
        </p>
        <p>
            Nothing in these Terms shall prevent us from complying with the law.
        </p>
        <p>
            We reserve all rights not expressly granted to you.
        </p>
      </div>
    </div>
</div>
