<!--*****************************************************************************************************************
     Copyright 2014-2018 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Chanthu Oeur.
    *****************************************************************************************************************-->

<title>Wiki</title>
<meta name="description" content="Wiki" />

<div class="container">
  <div class="row">
    <div class="col-md-12 div-pad" ng-show="info">
      <div class="div">
        <h3 class="inline-block">{{msg}}</h3>
        <div ng-bind-html="info"></div>
      </div>
    </div>
  </div>
</div>
