/******************************************************************************************************************
Copyright © 2014 - 2015 Lahuna. All rights reserved.
You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
make available to the public any content or code on this website without prior written permission from Lahuna.
******************************************************************************************************************/

body {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-image: url(nice.jpg);
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    
}

div {
    background-color: lightgreen;
    width: auto;
    height: auto;
    max-width: 300px;
    margin: 10px;
    padding: 5px 10px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: black;
}
