<!--*****************************************************************************************************************
     Copyright 2014 - 2017 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<!doctype html>
<html lang="en" ng-app="foto">
<head>
    <title>Foto | Organize, update, and search | Albums and Photos</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="description" content="This web app allows you to search, organize, and update your
              photos and albums that are stored on Google+." />
    <meta name="author" content="Lahuna" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/node_modules/angular-resource/angular-resource.min.js"></script>
    <script src="/node_modules/angular-route/angular-route.min.js"></script>
    <script src="/node_modules/angular-touch/angular-touch.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <script src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="/node_modules/oboe/dist/oboe-browser.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/controllers/albums.js"></script>
    <script src="js/controllers/album-photos.js"></script>
    <script src="js/controllers/viewer.js"></script>
    <script src="js/controllers/main.js"></script>
    <script src="js/controllers/modal.js"></script>
    <script src="js/controllers/photos.js"></script>
    <script src="js/controllers/detail.js"></script>
    <script src="js/controllers/edit-album.js"></script>
    <script src="js/controllers/edit-photo.js"></script>
    <script src="js/controllers/tags.js"></script>
    <script src="js/controllers/tools.js"></script>
    <script src="js/factories/resources.js"></script>
    <script src="js/factories/photo.js"></script>
    <script src="/js/factories/oboe.js"></script>
    <script src="/auth/js/factories/resources.js"></script>
    <script src="/auth/js/factories/authenticate.js"></script>
    <script src="/auth/js/controllers/profile.js"></script>

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/sticky-footer-navbar.css" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-48421139-1', 'lahuna.com');
        ga('send', 'pageview');
    </script>

</head>
<body>

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#lNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#/"><div class="aLogo img-rounded">Lahuna</div></a>
                <!--<a class="navbar-brand aTitle" href="/foto">Foto</a>-->
            </div>
            <div class="collapse navbar-collapse" id="lNavbar">
                <ul class="nav navbar-nav">
                  <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown"><span class="nav-drp">Foto </span><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="/foto">Main Menu</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="/foto/#/photos">Photos</a></li>
                          <li><a href="/foto/#/albums">Albums</a></li>
                          <li><a href="/foto/#/tags/photo">Photo Tags</a></li>
                          <li><a href="/foto/#/tags/album">Album Tags</a></li>
                          <!--<li><a href="/foto/#/tools">Tools</a></li>-->
                      </ul>
                  </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Apps <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/#/apps">Info</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/foto">Foto</a></li>
                            <li><a href="/vida">Vida</a></li>
                            <!--<li><a href="/upload">Upload</a></li>-->
                            <li><a href="/blitz">Blitz</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">About <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/#/about">About</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/#/tech">Tech</a></li>
                            <li><a href="/#/consult">Consult</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Contact <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/#/contact">Contact</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="https://plus.google.com/+LahunaWeb">Google+</a></li>
                            <li><a href="https://www.facebook.com/lahunaweb">Facebook</a></li>
                            <li><a href="https://twitter.com/LahunaWeb">Twitter</a></li>
                            <li><a href="https://www.youtube.com/LahunaWeb">Youtube</a></li>
                            <li><a href="https://www.linkedin.com/in/lahunaweb">LinkedIn</a></li>
                            <li><a href="https://www.pinterest.com/LahunaWeb">Pinterest</a></li>
                            <li><a href="https://www.reddit.com/user/lahunaweb">Reddit</a></li>
                            <li><a href="https://lahunaweb.imgur.com">Imgur</a></li>
                            <li><a href="http://lahunaweb.tumblr.com">Tumblr</a></li>
                            <li><a href="https://lahunaweb.blogspot.com">Blogger</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Legal <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="/#/privacy">Privacy</a></li>
                          <li><a href="/#/terms">Terms</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown" ng-show="profile">
                      <a class="dropdown-toggle" data-toggle="dropdown"><span><img class="profile img-circle" src="{{profile.image.url | profile}}"></span>{{profile.displayName}} <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="/foto/#/profile">Profile</a></li>
                          <li><a ng-click="SignOut()">Sign Out</a></li>
                      </ul>
                  </li>
                  <li ng-show="showSignIn"><a ng-click="SignIn()">Sign In</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="view-container">
        <div ng-view class="view-frame"></div>
    </div>

    <div ng-include="'/views/footer.html'"></div>

</body>
</html>
