<!--*****************************************************************************************************************
     Copyright 2014-2022 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-3">
            <h4>Playlist Search</h4>
            <!--<h4>Playlist Search: {{items.length | number}}</h4>-->
            <!--<button class="btn btn-default" ng-click="Import()" title="Import playlists from Youtube"><span class="glyphicon glyphicon-refresh"></span> Import</button>
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>-->
        </div>
        <div class="col-md-offset-3 col-md-4">
            <a ng-click="SignIn()" ng-show="showSignIn" class="list-group-item signInDiv">
              <span class="glyphicon glyphicon-log-in signInBtn"></span>
              <span>Sign in here to enable playlist search</span>
            </a>
        </div>
    </div>
    <div class="row" ng-show="!showSignIn">
        <div class="col-md-offset-4 col-md-3">
            <div class="input-group">
                <input ng-model="search" ng-keydown="GoSearch($event)"
                       typeahead="item.query for item in GetSearchList($viewValue)"
                       type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="ClickSearch()"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>
    <div class="row" ng-show="!showSignIn">
        <div class="col-md-offset-4 col-md-3">
            <div class="input-group">
                <span class="input-group-addon" id="order_addon">Order By:</span>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="ddOrder" data-toggle="dropdown" aria-expanded="true">
                        {{orderText}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="ddOrder">
                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="SelectOrder('date')">Date</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="SelectOrder('title')">Title</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-3">
            <div class="list-group">
                <a ng-repeat="item in items.list" class="list-group-item" href="#/playlist/{{item.playlistId | owner}}/{{item.playlistId}}">
                    <div><img ng-src="{{item.thumbnail}}" class="img-responsive" /></div>
                    <div>{{item.title}}</div>
                </a>
            </div>
        </div>
    </div>
</div>
