<!--*****************************************************************************************************************
     Copyright © 2014 - 2015 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-3">
            <h4>All My Videos: {{video.list.length | number}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-4" >
            <div class="input-group">
                <input ng-model="search" type="text" class="form-control" placeholder="Filter results...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="ClearFilter()"><span class="glyphicon glyphicon-remove-circle" title="Clear Filter"></span></button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-3">
            <div class="list-group">
                <a ng-repeat="item in video.list | orderBy:'title' | filter: { title:search }" class="list-group-item" href="/player/#/video/{{item.id}}" ng-click="StoreFilter()">
                    <h5>{{item.title}}</h5>
                </a>
            </div>
        </div>
    </div>
</div>