<!--*****************************************************************************************************************
     Copyright © 2014 - 2015 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-3">
            <h4>Other Albums</h4>
            <p>Albums: {{albums.list.length | number}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-3">
            <div class="list-group">
                <a ng-repeat="album in albums.list" class="list-group-item" href="#/albums/{{type}}/1/1/1/photos/{{album.Id}}/1/10/0">
                    <div><img ng-src="{{album.Url | thumb}}" /></div>
                    <div>{{album.Title}} ({{album.NumPhotos | number}})</div>
                </a>
            </div>
        </div>
    </div>
</div>