<!--*****************************************************************************************************************
	Copyright 2014-2019 Lahuna. All rights reserved.
	You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
	make available to the public any content or code on this website without prior written permission from Lahuna.
*****************************************************************************************************************-->

<title>Artistic Engineer</title>
<meta name="description" content="" />

<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1"  style="padding-left: 0px; padding-right: 0px;">
			<div class="div" style=padding-top:15px;>
				<span style="font-size: 24px; margin-right: 30px;">
					Artistic Engineer
				</span>							
				<span>
						<a href="/#/sydney"><span class="btn btn-default pop" style="margin-bottom: 5px;">Back</span></a>	
						<a href="/sydney/Artistic_Engineer.pdf" download>
							<span class="btn btn-default pop" style="margin-bottom: 5px;">Download PDF</span></a>	
				</span>			
			</div>
		</div>
		<div class="col-md-10 col-md-offset-1"  style="padding-left: 0px; padding-right: 0px;">
			<div class="div" style=padding-top:15px;>
				<p class="psize">
						&emsp; Ever since I was a young child, I have had an inquisitive mind. I loved to play video games, but I always 
						wondered how the games worked behind the scenes. I was particularly drawn to games like Roblox and Minecraft because 
						they allowed the users to customize the game environment so that it behaved in new ways or looked differently. Because 
						of this continued interest in how games work, I decided to take coding and engineering classes during high school. My 
						favorite class was Intro to Engineering where we uploaded programming instructions to a circuit board that allowed music 
						to play. This was a perfect opportunity for me to use my technical engineering skills, along with my artistic side and my 
						passion for music. I am very involved in school bands, such as marching band, jazz ensemble, string ensemble, and drumline. 
						Because of my deep understanding of music, I was able to help other students understand how the coded frequencies and tempo 
						formed songs.
				</p>
				<p class="psize">
						&emsp; In addition to my passion for music, I also enjoy being creative with visual art. I love to paint as a hobby, and 
						I am very interested in learning more about how technology can be used to create art through computer graphics, animation, 
						and visual effects. In my coding class at school, we are learning how to use binary metadata to map colored pixels on a 
						virtual canvas to create landscape images, such as the sun setting over the ocean. Rather than using paint and a brush, we 
						use digital information to set the RGB (red, green, blue) color intensity at various points on the canvas, allowing us to 
						blend colors and get the desired effect we are looking for. In college, I hope to explore more opportunities where I can use 
						computer science to be creative with music and visual art.
				</p>			
			</div>
		</div>
	</div>
</div>	