<!--*****************************************************************************************************************
	Copyright 2014-2019 Lahuna. All rights reserved.
	You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
	make available to the public any content or code on this website without prior written permission from Lahuna.
*****************************************************************************************************************-->

<title>Clean Water Challenge</title>
<meta name="description" content="" />

<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1"  style="padding-left: 0px; padding-right: 0px;">
			<div class="div" style=padding-top:15px;>
				<span style="font-size: 24px; margin-right: 30px;">
					Clean Water Challenge
				</span>							
				<span>
						<a href="/#/sydney"><span class="btn btn-default pop" style="margin-bottom: 5px;">Back</span></a>	
						<a href="/sydney/Clean_Water_Challenge.pdf" download>
							<span class="btn btn-default pop" style="margin-bottom: 5px;">Download PDF</span></a>	
				</span>			
			</div>
		</div>		
		<div class="col-md-10 col-md-offset-1"  style="padding-left: 0px; padding-right: 0px;">
			<div class="div" style=padding-top:15px;>
				<p class="psize">
					&emsp; I feel that providing access to clean water is the most important Grand Challenge
					for Engineering. Clean water is essential for drinking, hygiene, and sanitation. Each
					year millions of people become sick or die from water-related ailments such as cholera.
					I have volunteered to help raise money for a charity called Waves for Water. They
					provide water filters to impoverished countries like Haiti where a majority of the people
					do not have direct access to clean water. In countries like Cambodia, water is plentiful,
					but most of it is polluted or contaminated. My family members living in Cambodia, that
					were not able to get refugee status during the Khmer Rouge genocide, have to deal with
					daily shortages of clean water. There an organization called Charity Water helps people
					build inexpensive BioSand Filters to remove bacteria and other pollutants.
					Filtering water can only do so much, though. In Sub-Saharan Africa, many
					people do not live near a water supply and have to walk miles to collect water for daily
					use. The real challenge is to get water from places that have a surplus to areas where
					there is not enough water. In Israel, they desalinate seawater and distribute it through a
					pipe system all over the country. My field of study, computer science, will play an
					important role in analyzing data related to weather patterns, global warming, water
					migration through aquifers, and population growth. Technology, such as data analytics,
					can be used to solve the Clean Water Grand Challenge.
				</p>
				
			</div>			
		</div>
		<div class="col-md-10 col-md-offset-1"  style="padding-left: 0px; padding-right: 0px;">
			<div class="div" style=padding-top:15px;>
				<p class="psize">
					Watch a short video I created that promotes using computer science to solve the Clean
					Water Grand Challenge:
				</p>
				<div class="embed-responsive embed-responsive-16by9" style="margin-top: 10px;">
					<iframe width="854" height="480" src='https://www.youtube.com/embed/UvyosWBiwcg?autoplay=0' 
						frameborder="0" allowfullscreen></iframe>
				</div>
			</div>			
		</div>
	</div>
</div>