<!--*****************************************************************************************************************
	Copyright 2014-2019 Lahuna. All rights reserved.
	You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
	make available to the public any content or code on this website without prior written permission from Lahuna.
*****************************************************************************************************************-->

<title>Code For Good</title>
<meta name="description" content="" />

<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1"  style="padding-left: 0px; padding-right: 0px;">
			<div class="div" style=padding-top:15px;>
				<span style="font-size: 24px; margin-right: 30px;">
					Code For Good
				</span>							
				<span>
						<a href="/#/sydney"><span class="btn btn-default pop" style="margin-bottom: 5px;">Back</span></a>	
						<a href="/sydney/Code_For_Good.pdf" download>
							<span class="btn btn-default pop" style="margin-bottom: 5px;">Download PDF</span></a>	
				</span>			
			</div>
		</div>		
		<div class="col-md-10 col-md-offset-1"  style="padding-left: 0px; padding-right: 0px;">
			<div class="div" style=padding-top:15px;>
				<p class="psize">
						&emsp; I have an engineering mindset and love to solve problems, but I also value using that knowledge in meaningful 
						ways that will benefit society. My mom is from Cambodia and through her, I have a deep connection with the people of 
						Cambodia. I always wanted to help the poor there somehow but felt there was so little I could do on the other side of 
						the world. I decided to work at my dad’s company, Lahuna, and build a website that creates referrals for a taxi driver 
						in Siem Reap, Cambodia that my mom knows. His name is Kimlean, and he uses the money he earns as a taxi driver to pay 
						for food and education for poverty-stricken children at a school he runs. Kimlean believes that by teaching kids English, 
						they will be better prepared for a career in tourism by the time they are adults. Siem Reap is home of the world famous 
						Angkor Wat Temple and the growth in tourism there provides Cambodians the opportunity to work in higher paying jobs. 
						Creating this website was the perfect work experience for me because I was able to do something I am good at, and love 
						doing while helping less-fortunate people thousands of miles away. Because software can be created remotely and can be 
						implemented on a global scale, I believe computer science offers me the potential to create technology that can help a 
						great number of people no matter where they are in the world.
				</p>
				<p class="psize">
						&emsp; To succeed, engineers must first understand the problems they are trying to solve. Not only do they need technical 
						expertise, but they must be grounded and have a broad knowledge of social sciences and humanities. A college education 
						will help me become a well-rounded, socially aware computer scientist that can address challenges people face, on a personal 
						level. I hope to participate in research and internship opportunities that apply what I learn in the classroom to real-world 
						projects where technology is used to make a positive impact on the world.
				</p>			
			</div>
		</div>
	</div>
</div>