<!--*****************************************************************************************************************
	Copyright 2014-2019 Lahuna. All rights reserved.
	You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
	make available to the public any content or code on this website without prior written permission from Lahuna.
*****************************************************************************************************************-->

<title>Diverse Mediator</title>
<meta name="description" content="" />

<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1"  style="padding-left: 0px; padding-right: 0px;">
			<div class="div" style=padding-top:15px;>
				<span style="font-size: 24px; margin-right: 30px;">
					Diverse Mediator
				</span>							
				<span>
						<a href="/#/sydney"><span class="btn btn-default pop" style="margin-bottom: 5px;">Back</span></a>	
						<a href="/sydney/Diverse_Mediator.pdf" download>
							<span class="btn btn-default pop" style="margin-bottom: 5px;">Download PDF</span></a>	
				</span>			
			</div>	
		</div>	
		<div class="col-md-10 col-md-offset-1"  style="padding-left: 0px; padding-right: 0px;">
			<div class="div" style=padding-top:15px;>
				<p class="psize">
						&emsp; I have grown up in a very diverse, multicultural environment. My mom is a genocide survivor from the Khmer Rouge in 
						Cambodia. She was separated from her family at age eight and dodged bullets while escaping to a refugee camp in Thailand. 
						She has given me a great appreciation of Asian culture and cuisine. Also, having come from a poor, humble, upbringing, 
						my mom has shown me how to appreciate the simple comforts in life and how not to be materialistic. My dad grew up as a 
						surfer and lifeguard in the idyllic Southern California beach town, Laguna Beach. Through his example, I have learned 
						how to enjoy time outdoors hiking, camping, and playing at the beach. He has also greatly influenced me in subjects that 
						my mom never had an opportunity to learn such as music and engineering. My mom has shown me the importance of family members 
						supporting and taking care of each other. Whereas, my father has instilled in me independence, strength, and confidence. 
						My parents have greatly influenced me in very different ways and given me an understanding of how people from completely 
						different backgrounds can form a deep connection and strengthen each other.
				</p>
				<p class="psize">
						&emsp; Given my diverse background and upbringing, I often act as a mediator, harmonizer, and peacemaker among my 
						group of friends. A lot of my friends are individually different from each other and have unique personalities, backgrounds, 
						and interests. There are some intellectuals, some band kids, and some that are more sports-minded, but we all enjoy spending 
						time together. I believe I play an important part in keeping us together as a cohesive group by helping to reconcile 
						disagreements that arise. When there is a conflict, I try to identify what the differences are, suggest compromises, and ease 
						tensions by facilitating open communication. In college, I hope to contribute to the campus ecosystem by using my diversity to 
						help bring others together so that they can form meaningful and beneficial bonds with each other, regardless of their background.
				</p>
			</div>			
		</div>
	</div>
</div>