<!--*****************************************************************************************************************
	Copyright 2014-2019 Lahuna. All rights reserved.
	You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
	make available to the public any content or code on this website without prior written permission from Lahuna.
*****************************************************************************************************************-->

<title>Ideal College</title>
<meta name="description" content="" />

<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1"  style="padding-left: 0px; padding-right: 0px;">
			<div class="div" style=padding-top:15px;>
				<span style="font-size: 24px; margin-right: 30px;">
					Ideal College
				</span>							
				<span>
						<a href="/#/sydney"><span class="btn btn-default pop" style="margin-bottom: 5px;">Back</span></a>	
						<a href="/sydney/Ideal_College.pdf" download>
							<span class="btn btn-default pop" style="margin-bottom: 5px;">Download PDF</span></a>	
				</span>			
			</div>
		</div>
		<div class="col-md-10 col-md-offset-1"  style="padding-left: 0px; padding-right: 0px;">
			<div class="div" style=padding-top:15px;>
				<p class="psize">
						&emsp; In college, I hope to find the campus culture and student organizations I need to
						thrive both socially and academically in the field of computer science. As a multiracial,
						multicultural person and woman entering a field of study underrepresented by women, I
						value college diversity and inclusion because they create an environment where I can fit
						in, and people will appreciate my contributions both in and outside the classroom.
						Campus organizations such as the Society of Women Engineers and Women in
						Computing would offer me support, mentoring, social events, and meaningful ways to
						interact with STEM female students and faculty. Groups like this would give me a
						community in which I could build strong friendships and act as an ambassador
						advocating women in the field of computer science. I also hope to participate in
						opportunities, such as Engineers Without Borders, to apply what I learn in the
						classroom to real-world projects where technology is used to make a positive impact on
						the world.
				</p>
			</div>
		</div>
	</div>
</div>	