<!--*****************************************************************************************************************
     Copyright 2014-2019 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

		<title>Kimlean Project</title>
		<meta name="description" content="" />
		
		<div class="container">
			<div class="row">
				<div class="col-md-12 div" style=padding-top:15px;>
					<span style="font-size: 24px; margin-right: 30px;">
						The Kimlean Project
					</span>							
					<span>
							<a href="/#/sydney"><span class="btn btn-default pop" style="margin-bottom: 5px;">Back</span></a>	
							<a href="/sydney/Kimlean_Project.pdf" download>
								<span class="btn btn-default pop" style="margin-bottom: 5px;">Download PDF</span></a>	
					</span>			
				</div>		
				<div class="col-md-12 div" style=padding-top:15px;>
					<p class="psize">
							&emsp; We studied the use of social media marketing, web technology, and search engine
							optimization to drive referrals to third world country businesses that normally do not have access
							to technology. Our study was done on a taxi driver named Kimlean who offers transportation
							services in Siem Reap, Cambodia. In the past, Kimlean has had difficulty connecting with
							tourists and was not able to make enough money to purchase food and supplies for the school
							he runs. He did not have access to social media or websites that would allow him to market his
							services and gain more business from tourists. We experimented with several web-based
							marketing techniques and found that using a high profile Instagram account (@feedcambodia)
							coupled with a search engine optimized website (https://feedcambodia.com/kimlean) offered the
							greatest increase in Kimlean’s business. Once potential customers have navigated to his
							webpage, either through an Instagram profile link or via web search engine results, they are
							presented with Kimlean’s contact information along with photos of Kimlean and the children at
							his school. For our three-month data sample period (Sep - Nov 2018) indications show that our
							web-based marketing strategy offers a 30% increase in the number of interactions Kimlean has
							with interested customers. On average, for every ten interactions, he is able to secure five
							customers, resulting in a sales conversion rate of 50%. Previously his conversion rate was 20%
							where only two out of ten customers signed up for his services. On a monthly basis Kimlean
							previously would secure 20 customers out of 100 interactions. He now secures 65 customers
							out of 130 interactions, resulting in an overall sales increase of 225% per month.
					</p>		
				</div>
			</div>
		</div>
		