<!--*****************************************************************************************************************
	Copyright 2014-2019 Lahuna. All rights reserved.
	You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
	make available to the public any content or code on this website without prior written permission from Lahuna.
*****************************************************************************************************************-->

<title>Leadership Discovery</title>
<meta name="description" content="" />

<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1"  style="padding-left: 0px; padding-right: 0px;">
			<div class="div" style=padding-top:15px;>
				<span style="font-size: 24px; margin-right: 30px;">
					Leadership Discovery
				</span>							
				<span>
						<a href="/#/sydney"><span class="btn btn-default pop" style="margin-bottom: 5px;">Back</span></a>	
						<a href="/sydney/Leadership_Discovery.pdf" download>
							<span class="btn btn-default pop" style="margin-bottom: 5px;">Download PDF</span></a>	
				</span>			
			</div>
		</div>		
		<div class="col-md-10 col-md-offset-1"  style="padding-left: 0px; padding-right: 0px;">
			<div class="div" style=padding-top:15px;>
				<p class="psize">
						&emsp; One of my most memorable leadership opportunities in high school was when my World History teacher 
						assigned a Model United Nations project on the Israeli-Palestinian Conflict. My partner and I were delegates 
						for Egypt, and I came up with what I called the three-state solution. Previously, proposals had only been made 
						for one-state or two-state solutions. My idea was different because it involved the Egyptians, instead of just 
						the Israelis and Palestinians. The Egyptians would foster a more democratic government in the Palestinian territory 
						by providing the tools for modernization and economic support. I was very involved during the conference and shared 
						my opinion. I was able to convince other countries to join me, which eventually led to a leadership position. Toward 
						the end of the conference, I made a resolution with a few other delegates, and more than half of the class voted for 
						my idea. This was probably the first time in high school I felt confident with myself in a group setting. Previously, 
						I would follow along with my teammates to implement their proposals in group projects. The MUN project allowed me to 
						prove to myself that I too have good ideas and have the potential to be a leader, not just a follower. In this example, 
						I exhibited three important leadership qualities: Creativity, passion, and the ability to inspire others. I was creative 
						for coming up with an original idea and passionate about implementing it, both of which inspired the other students to 
						want to pursue what I was proposing. I have always been a good listener and follower, but now I am ready to use my MUN 
						experience to lead as well. I hope to apply my leadership qualities in college so that I can be a major contributor to 
						the campus community both in and outside the classroom.
				</p>
			</div>		
		</div>
	</div>
</div>