<!--*****************************************************************************************************************
     Copyright 2014-2019 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<title>Sydney Davison</title>
<meta name="description" content="Learn more about me. My college essay portfolio." />

<div class="container">
  <div class="row div-anchor">	
		<div class="col-md-8 psize div-pad">
      <div class="div div-margin about-head-min">
				<div class="col-md-4">
					<h1>Sydney Davison</h1>	
				</div>
				<div class="col-md-4">
					<img class="img img-responsive img-circle" src="/images/syd_edison.jpg" style="max-height: 100px; margin: 10px;"/>
				</div>
				<div class="col-md-4">
						<h3>My collection of college essays</h3>	
					</div>
      </div>
		</div>	
		<a href="/#/sydney/riptide" class="col-md-4 psize div-pad">
      <div class="div div-margin about-head-min">
        <h3 class="martop">
          Riptide Pride
        </h3>
        <p>
          Getting caught in the "rip" at St. Anne's Beach taught me an important life lesson.
        </p>
      </div>
		</a>
    <a href="/#/sydney/code-for-good" class="col-md-4 psize div-pad">
      <div class="div div-margin about-head-min">
				<h3 class="martop">
          Code For Good
        </h3>
        <p>
          How I use computer science to help poverty-stricken children in Cambodia.
				</p>
      </div>
		</a>
		<a href="/#/sydney/kimlean-project" class="col-md-4 psize div-pad">
      <div class="div div-margin about-head-min">
				<h3 class="martop">
          The Kimlean Project
        </h3>
        <p>
          My research on driving business to third world countries.
				</p>
      </div>
    </a>
    <a href="/#/sydney/artistic-engineer" class="col-md-4 psize div-pad">
      <div class="div div-margin about-head-min">
        <h3 class="martop">
          Artistic Engineer
        </h3>
        <p>
          My interdisciplinary interests in computer science, music, and visual art.
        </p>
      </div>
    </a>
    <a href="/#/sydney/diverse-mediator" class="col-md-4 psize div-pad">
      <div class="div div-margin about-head-min">
        <h3 class="martop">
          Diverse Mediator
        </h3>
        <p>
          Using my diversity to be a better mediator.
        </p>
      </div>
		</a>
		<a href="/#/sydney/clean-water-challenge" class="col-md-4 psize div-pad">
      <div class="div div-margin about-head-min">
        <h3 class="martop">
          Clean Water Challenge
        </h3>
        <p>
          Why I think clean water is the most important Grand Challenge for Engineering.
        </p>
      </div>
		</a>
		<a href="/#/sydney/leadership-discovery" class="col-md-4 psize div-pad">
      <div class="div div-margin about-head-min">
        <h3 class="martop">
          Leadership Discovery
        </h3>
        <p>
          When I realized I can be a leader, not just a follower.
        </p>
      </div>
		</a>
	<div>
</div>
