<!--*****************************************************************************************************************
     Copyright 2014-2019 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<title>Sydney Davison</title>
<meta name="description" content="Learn more about me. My college essay portfolio." />

<div class="container">
  <div class="row">
    <div class="col-md-6 psize div-pad">
      <div class="div div-margin about-head-min">
				<h3 class="martop">
          Code For Good
        </h3>
        <p>
          How I used used computer science to help poverty-stricken children in Cambodia.
				</p>
				<a href="/#/sydney/code-for-good"><span class="btn btn-default pop btn-margin">Code For Good</span></a>
      </div>
    </div>
    <div class="col-md-6 psize div-pad">
      <div class="div div-margin about-head-min">
        <h3 class="martop">
          Artistic Engineer
        </h3>
        <p>
          My interdisciplinary interests in computer science, music, and visual art.
        </p>
        <a href="/#/sydney/artistic-engineer"><span class="btn btn-default pop btn-margin">Artistic Engineer</span></a>
      </div>
    </div>
    <div class="col-md-6 psize div-pad">
      <div class="div div-margin about-foot-min">
        <h3 class="martop">
          Diverse Mediator
        </h3>
        <p>
          Using my diversity to be a better mediator.
        </p>
        <a href="/#/sydney/diverse-mediator"><span class="btn btn-default pop btn-margin">Diverse Mediator</span></a>
      </div>
    </div>
    <div class="col-md-6 psize div-pad">
      <div class="div div-margin about-foot-min">
        <h3 class="martop">
          Leadership Discovery
        </h3>
        <p>
          When I realized I can be a leader, not just a follower.
        </p>
        <a href="/#/sydney/leadership-discovery"><span class="btn btn-default pop btn-margin">Leadership Discovery</span></a>
      </div>
    </div>
  </div>
</div>
