<!--*****************************************************************************************************************
     Copyright 2014-2019 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<title>Riptide</title>
<meta name="description" content="" />

<div class="container">
  <div class="row">
		<div class="col-md-12 div" style=padding-top:15px;>
			<span style="font-size: 24px; margin-right: 30px;">
				Riptide
			</span>							
			<span>
					<a href="/#/sydney"><span class="btn btn-default pop" style="margin-bottom: 5px;">Back</span></a>	
					<a href="/sydney/Riptide.pdf" download>
						<span class="btn btn-default pop" style="margin-bottom: 5px;">Download PDF</span></a>	
			</span>			
		</div>	
		<div class="col-md-12 div" style=padding-top:15px;>
			<p class="psize">
					&emsp; I surfaced, and everyone around me was struggling to stay afloat. A set of six-foot waves had caught me 
					and some other swimmers by surprise. A strong rip current had me in its grasp, pulling me further out to 
					sea. I tread water for a few minutes until a lifeguard swam up to me and asked if I needed help getting 
					back to the beach. Instinctively, I said no because I was embarrassed to be caught in the riptide. At this 
					point in my life, I had developed a sense of pride and self-reliance, and I wasn’t ready to lose control of 
					the situation. I had swum at this beach many times before and knew about the notorious river-like “rip.”
			</p>
			<p class="psize">
					&emsp; As I saw the rest of the swimmers being brought ashore by the lifeguard, I realized I was by myself now and 
					drifting further and further out to sea. I began to panic and regret not accepting help when I had the chance. 
					Swimming back to shore would be virtually impossible because the current was too strong. I thought I would 
					eventually drown after becoming too tired to swim anymore.
			</p>
			<p class="psize">
					&emsp; Meanwhile, on the beach, my mom felt helpless and was frantically trying to figure out a way to save me. She 
					did not know how to swim and was afraid of the ocean, and my dad was nowhere to be found. She pleaded her 
					friends on the beach to help, but they were reluctant due to the dangerous conditions.	
			</p>
			<p class="psize">
					&emsp; Once I realized that I was powerless against the raging riptide, I laid back so I could float and save energy. 
					The waves couldn’t hurt me this far out at sea because they only break in shallow water. As I caught my breath 
					and tried to calm myself, I closed my eyes and let my mind wander. I awoke to a tapping on my shoulder. It was 
					my dad, and he had swum out to me with swim fins so he could tow me back to shore.
			</p>
			<p class="psize">
					&emsp; After I was safely on the beach, my mom scolded me for being irresponsible and not accepting help from the 
					lifeguard. As I reflected on what had happened, I realized my mom was only mad because she loves me and did 
					not want anything to happen to me. I knew that even though she cannot swim and is afraid of the ocean, she 
					would have sacrificed herself by going into the water to try to help me. I now understand that in extreme 
					cases like this, denying help can allow a situation to spiral out of control and even put others at risk. 
					I learned that no matter how much pride or self-reliance you have, you should always ask for help when you 
					really need it. I use this in everyday life now, and because of it, have developed closer relationships with 
					people and have a better sense of community.				
			</p>			
		</div>
  </div>
</div>
