<!--*****************************************************************************************************************
	Copyright 2014-2019 Lahuna. All rights reserved.
	You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
	make available to the public any content or code on this website without prior written permission from Lahuna.
*****************************************************************************************************************-->

<title>Volunteer Work</title>
<meta name="description" content="" />

<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1"  style="padding-left: 0px; padding-right: 0px;">
			<div class="div" style=padding-top:15px;>
				<span style="font-size: 24px; margin-right: 30px;">
					Volunteer Work
				</span>							
				<span>
						<a href="/#/sydney"><span class="btn btn-default pop" style="margin-bottom: 5px;">Back</span></a>	
						<a href="/sydney/Volunteer_Work.pdf" download>
							<span class="btn btn-default pop" style="margin-bottom: 5px;">Download PDF</span></a>	
				</span>			
			</div>
		</div>
		<div class="col-md-10 col-md-offset-1"  style="padding-left: 0px; padding-right: 0px;">
			<div class="div" style=padding-top:15px;>
				<p class="psize">
						&emsp; I often reflect on what a great childhood I have had growing up in Laguna
						Beach, and part of me has wanted to go back and relive my younger years. That is
						probably why I always seem to gravitate towards working with kids when it comes to
						exploring volunteer opportunities. My first volunteer gig was working as a team
						leader’s assistant at Vacation Bible School at South Shores Church in Dana Point. I
						was in middle school at the time and really enjoyed helping the younger kids
						participate in the fun activities and learn about the message of Christ. During the
						early part of high school, I worked at the Laguna Beach Public Library helping out
						with the children’s summer reading program. My goal there was to inspire children to
						find a love for reading as I had. That reading a good story in a physical book, rather
						than on a device, can offer some very special moments in life, especially in the peace
						and quiet of a library. I have also been very involved in volunteering in various
						capacities for the Laguna Beach schools music programs. At 8th-Grade Parent Night,
						I talk to incoming freshman about the high school music program and hopefully get
						them excited about participating in music. I am first chair tenor saxophone in jazz
						ensemble and marching band; first chair cello in string ensemble; and I am Team
						Captain and vibraphone player in drumline. Needless to say, I have plenty to talk
						about when it comes to high school music. At the high school and Thurston music
						concerts, I act as a stage manager, helping to set up the stage and organize the
						younger musicians, so they are in the right spot when it is their turn to perform. The
						best part about volunteering with the school bands is mentoring younger musicians
						by offering my experience and knowledge I have learned over the years. Because I
						play a variety of instruments, I am able to offer a unique perspective and playing style
						to each musical group.
				</p>
			</div>
		</div>
	</div>
</div>	