body {
  background-color: #ffce99;
}

.center {
  text-align: center;
}

.jumbotron {
  background-color: #ffe6cc;
}

.main {
  text-align:center;
  font-weight: bold;
  background-color: #ffe6cc;
}

.footer {
  background-color: #ffe6cc;
}

.icon {
  margin-right: 15px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input, textarea, .btn-default, .list-group-item {
  background-color: #fff3e6 !important;
}

.alert-height {
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

h3, h2 {
  margin-top: 10px;
  margin-bottom: 3px;
  display: inline;
}

.btn-margin-right {
  margin-right: 20px;
}

.btn-margin-top {
  margin-top: 20px;
}

.bold {
  font-weight: bold;
}
