body {
  background-color: #ffce99;
}

.jumbotron {
  text-align: center;
  background-color: #ffe6cc;
}

.main {
  text-align:center;
  font-weight: bold;
  background-color: #ffe6cc;
}

.footer {
  background-color: #ffe6cc;
}

.icon {
  margin-right: 15px;
}

input, textarea, .btn-default, .list-group-item {
  background-color: #fff3e6 !important;
}

.btn-top {
  margin-top: 5px;
}

.alert-height {
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 3px;
}

.heading {
  width: 60px;
}
