<!--*****************************************************************************************************************
     Copyright © 2014 - 2016 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<div class="modal-header">
    <h3 class="modal-title">User Agreement</h3>
</div>
<div class="modal-body">
    <p>In order to use our apps, please agree to Lahuna's
        <a href="/#/terms" target="_blank">Terms of Service</a> and
        <a href="/#/privacy" target="_blank">Privacy Policy</a>
    </p>    
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Agree</button>
    <button class="btn btn-warning" ng-click="cancel()">Decline</button>
</div>
