<!--*****************************************************************************************************************
     Copyright 2014-2022 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-3">
            <h3>Facebook</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-3">
            <div class="list-group">
                <a class="list-group-item" href="https://www.facebook.com/dialog/oauth?client_id=1417261691879442&redirect_uri={{origin}}/blitz/facebook&response_type=token&scope=publish_actions,user_status,user_photos,user_videos,user_posts,manage_pages&state=media">
                    <h4>Login ({{facebook_profile.name}})</h4>
                </a>
                <a class="list-group-item" href="#/facebook/posts"><h4>Posts</h4></a>
                <a class="list-group-item" href="#/facebook/albums"><h4>Albums</h4></a>
                <a class="list-group-item" href="#/facebook/photos"><h4>Photos</h4></a>
                <a class="list-group-item" href="#/facebook/videos"><h4>Videos</h4></a>
                <a class="list-group-item" href="#/facebook/accounts"><h4>Accounts</h4></a>
            </div>
        </div>
    </div>
</div>
